<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Admin page</title>
</head>
<body>

<!--Шапка страницы-->
<header>
    <div class="container-fluid" style="padding: 0">
        <div class="row">
            <div class="col-12">

                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="user">
                        <ul class="navbar-nav mr-auto">
                            <a class="navbar-brand font-weight-bold" th:text="${user.getEmail()}"></a>
                            <a class="navbar-brand">with roles: </a>
                            <a class="navbar-brand" th:text="${user.getRolesToString()}"></a>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-right" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="d-flex" style="height: 100vh">

    <!--Основной контент страницы&ndash;&gt;-->
    <div class="container-fluid">
        <div class="row">

            <!--Панель слева-->
            <div class="col-2" style="padding: 15px 0 0;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                    </li>
                </ul>
            </div>

            <!--Панель справа-->
            <div class="col-10 bg-light">
                <div class="tab-content" style="padding-top: 15px; height: 100vh">

                    <!--Панель админа-->
                    <div class="tab-pane fade show active" id="adminPanel">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#allUsers">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <!--Таблица пользователей&ndash;&gt;-->
                            <div class="tab-pane fade show active" id="allUsers">
                                <div class="card">
                                    <h5 class="card-header">All users</h5>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tableUsers">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Вкладка для нового пользователя-->
                            <div class="tab-pane fade" id="newUser">
                                <div class="form-group">
                                    <div class="control-group required">
                                        <div class="card">
                                            <h5 class="card-header">Add new user</h5>
                                            <div class="card-body text-center">
                                                <div class="form justify-content-center mx-auto col-5">
                                                    <form id="addUserForm">
                                                        <div class="col-md-3 offset-md-4 text-center">
                                                            <div class="form-group">
                                                                <span class="font-weight-bold">First Name</span>
                                                                <input type="text" class="form-control"
                                                                       id="firstNameNewUser" name="firstName">
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="font-weight-bold">Last Name</span>
                                                                <input type="text" class="form-control"
                                                                       id="lastNameNewUser" name="lastName">
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="font-weight-bold">Age</span>
                                                                <input type="number" class="form-control"
                                                                       id="ageNewUser" name="age">
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="font-weight-bold">Email</span>
                                                                <input type="email" class="form-control"
                                                                       id="emailNewUser" name="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="font-weight-bold">Password</span>
                                                                <input type="password" class="form-control"
                                                                       id="passwordNewUser"
                                                                       name="password">
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="font-weight-bold">Role</span>
                                                                <select multiple class="form-control"
                                                                        name="rolesSelect" size="2" id="newRoles">
                                                                </select>
                                                            </div>
                                                            <span class="font-weight-bold"></span>
                                                            <button type="submit" class="btn btn-success btn-lg"
                                                                    id="addNewUserButton">
                                                                Add new user
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Панель пользователя-->
                    <div class="tab-pane fade" id="userPanel">
                        <h2>User information-page</h2>
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body text-center">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableUserId">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>
<!-- Отдельные JS для Popper и Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
    $(async function () {
        await tableUsers();
        await tableUserId();
        await addNewUserForm();
        await addNewUser();
        await getDefaultModal();
        ``
    })

    const userFetchService = {
        head: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Referer': null
        },

        findAllUsers: async () => await fetch('api/admin/users'),
        findUser: async () => await fetch('/api/admin/user'), ////////////////
        addNewUser: async (user) => await fetch('api/admin/user', {/////////////////////
            method: 'POST',
            headers: userFetchService.head,
            body: JSON.stringify(user)
        }),
        showOneUser: async (id) => await fetch(`api/admin/users/${id}`),

        deleteUser: async (id) => await fetch(`api/admin/users/${id}`, {
            method: 'DELETE',
            headers: userFetchService.head
        }),
        updateUser: async (user) => await fetch('api/admin/update/users', {
            method: 'PUT',
            headers: userFetchService.head,
            body: JSON.stringify(user)
        })
    }

    async function tableUserId() {
        let table = $('#tableUserId');
        table.empty();

        await userFetchService.findUser()
            .then(res => res.json())
            .then(user => {
                let tablePrincipal = `$(
                <tr>
                    <td>${user.id}</td>
                    <td>${user.firstName}</td>
                    <td>${user.lastName}</td>
                    <td>${user.age}</td>
                    <td>${user.email}</td>
                    <td>${user.roles.map(role => role.role.slice(5, 10))}</td>
                </tr>
            )`
                table.append(tablePrincipal)
            })
    }

    async function tableUsers() {
        const usersList = document.querySelector('#tableUsers')
        let result = ''

        await userFetchService.findAllUsers()
            .then(res => res.json())
            .then(users => users.forEach(user => {
                result += `
                <tr>
                    <td>${user.id}</td>
                    <td>${user.firstName}</td>
                    <td>${user.lastName}</td>
                    <td>${user.age}</td>
                    <td>${user.email}</td>
                    <td>${user.roles.map(role => role.role.slice(5, 10))}</td>
                    <td>
                        <button type="button" data-userid="${user.id}" data-action="edit" class="btn btn-info"
                        data-toggle="modal" data-target="#someDefaultModal">Edit</button>
                    </td>
                    <td>
                        <button type="button" data-userid="${user.id}" data-action="delete" class="btn btn-danger"
                        data-toggle="modal" data-target="#someDefaultModal">Delete</button>
                    </td>
                </tr>
            `
            }))
        usersList.innerHTML = result

        $("#tableUsers").find('button').on('click', (event) => {
            let defaultModal = $('#someDefaultModal');
            let targetButton = $(event.target);
            let buttonUserId = targetButton.attr('data-userid');
            let buttonAction = targetButton.attr('data-action');
            defaultModal.attr('data-userid', buttonUserId);
            defaultModal.attr('data-action', buttonAction);
            defaultModal.modal('show');
        })
    }

    const roleJson = []
    fetch('/api/roles')
        .then(res => res.json())
        .then(roles => roles.forEach(role => roleJson.push(role)))

    async function addNewUser() {
        $('#addNewUserButton').click(async (e) => {
            let addUserForm = $('#addUserForm')
            let firstName = addUserForm.find('#firstNameNewUser').val().trim();
            let lastName = addUserForm.find('#lastNameNewUser').val().trim();
            let age = addUserForm.find('#ageNewUser').val().trim();
            let email = addUserForm.find('#emailNewUser').val().trim();
            let password = addUserForm.find('#passwordNewUser').val().trim();
            let rolesArray = addUserForm.find('#newRoles').val()
            let roles = []

            for (let r of roleJson) {
                for (let i = 0; i < rolesArray.length; i++) {
                    if (r.id === rolesArray[i]) {
                        roles.push(r)
                    }
                }
            }

            let data = {
                firstName: firstName,
                lastName: lastName,
                age: age,
                email: email,
                password: password,
                roles: roles
            }
            const response = await userFetchService.addNewUser(data);
            if (response.ok) {
                await tableUsers()
            }
        })
    }

    async function addNewUserForm() {
        let form = $(`#addUserForm`)

        fetch('api/roles').then(function (response) {
            form.find('#newRoles').empty();
            response.json().then(roleList => {
                roleList.forEach(role => {
                    form.find('#newRoles')
                        .append($('<option>').val(role.id).text(role.role.slice(5, 10)));
                })
            })
        })
    }

    async function getDefaultModal() {
        $('#someDefaultModal').modal({
            keyboard: true,
            backdrop: "static",
            show: false
        }).on("show.bs.modal", (event) => {
            let thisModal = $(event.target);
            let userid = thisModal.attr('data-userid');
            let action = thisModal.attr('data-action');
            switch (action) {
                case 'edit':
                    editUser(thisModal, userid);
                    break;
                case 'delete':
                    deleteUser(thisModal, userid);
                    break;
            }
        }).on("hidden.bs.modal", (e) => {

            let thisModal = $(e.target);
            thisModal.find('.modal-title').html('');
            thisModal.find('.modal-body').html('');
            thisModal.find('.modal-footer').html('');
        })
    }

    async function deleteUser(modal, id) {
        let thisUser = await userFetchService.showOneUser(id)
        let user = thisUser.json()
        let modalForm = $(`#someDefaultModal`)
        let closeButton = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>`
        let deleteButton = `<button class="btn btn-danger" id="deleteButton" data-dismiss="modal" data-backdrop="false">Delete</button>`

        modal.find('.modal-title').html('Delete user')
        modal.find('.modal-footer').append(closeButton)
        modal.find('.modal-footer').append(deleteButton)

        user.then(user => {
            let bodyForm = `<form id="deleteUser">
                            <div class="col-md-7 offset-md-3 text-center">
                                <div class="form-group">
                                    <span class="font-weight-bold">ID</span>
                                    <input type="text" value="${user.id}" name="id" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">First Name</span>
                                    <input type="text" value="${user.firstName}" name="firstName" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Last Name</span>
                                    <input type="text" value="${user.lastName}" name="lastName" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Age</span>
                                    <input type="number" value="${user.age}" name="age" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Email</span>
                                    <input type="email" value="${user.email}" name="email" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Role</span>
                                    <select multiple class="form-control" id="deleteRoles" size="2" readonly>`

            modal.find('.modal-body').append(bodyForm)
        })

        fetch('api/roles').then(function (response) {
            modalForm.find('#deleteRoles').empty();
            response.json().then(roleList => {
                roleList.forEach(role => {
                    modalForm.find('#deleteRoles')
                        .append($('<option>').val(role.id).text(role.role.slice(5, 10)));
                })
            })
        })

        $(`#deleteButton`).on('click', async () => {
            const response = await userFetchService.deleteUser(id);
            if (response.ok) {
                await tableUsers()
                modal.modal('hide');
            }
        })
    }

    async function editUser(modal, id) {
        let thisUser = await userFetchService.showOneUser(id)
        let user = thisUser.json()
        let modalForm = $(`#someDefaultModal`)

        let closeButton = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>`
        let deleteButton = `<button class="btn btn-primary" id="editButton" data-dismiss="modal" data-backdrop="false">Edit</button>`

        modal.find('.modal-title').html('Edit user')
        modal.find('.modal-footer').append(closeButton)
        modal.find('.modal-footer').append(deleteButton)

        user.then(user => {
            let bodyForm = `<form id="editUser">
                            <div class="col-md-7 offset-md-3 text-center">
                                <div class="form-group">
                                    <span class="font-weight-bold">ID</span>
                                    <input type="text" value="${user.id}" name="id" id="id" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">First Name</span>
                                    <input type="text" value="${user.firstName}" name="firstName" id="firstName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Last Name</span>
                                    <input type="text" value="${user.lastName}" name="lastName" id="lastName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Age</span>
                                    <input type="number" value="${user.age}" name="age" id="age" class="form-control">
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Email</span>
                                    <input type="email" value="${user.email}" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Password</span>
                                    <input type="password" value="${user.password}" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <span class="font-weight-bold">Role</span>
                                    <select multiple class="form-control" id="updateRoles" size="2">`
            modal.find('.modal-body').append(bodyForm)
        })

        fetch('api/roles').then(function (response) {
            modalForm.find('#updateRoles').empty();
            response.json().then(roleList => {
                roleList.forEach(role => {
                    modalForm.find('#updateRoles')
                        .append($('<option>').val(role.id).text(role.role.slice(5, 10)));
                })
            })
        })

        $("#editButton").on('click', async () => {
            let id = modal.find('#id').val()
            let firstName = modal.find('#firstName').val()
            let lastName = modal.find('#lastName').val()
            let age = modal.find('#age').val()
            let email = modal.find('#email').val()
            let password = modal.find('#password').val()
            let rolesArray = modal.find('#updateRoles').val()
            let roles = []

            for (let r of roleJson) {
                for (let i = 0; i < rolesArray.length; i++) {
                    if (r.id === rolesArray[i]) {
                        roles.push(r)
                    }
                }
            }

            let data = {
                id: id,
                firstName: firstName,
                lastName: lastName,
                age: age,
                email: email,
                password: password,
                roles: roles
            }

            const response = await userFetchService.updateUser(data)
            if (response.ok) {
                await tableUsers()
                modal.modal('hide')
            }
        })
    }
</script>
</body>
</html>